<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428763057412-v16n73fq1poq7gpl4jo4t01ivrpd28as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428763057412-v16n73fq1poq7gpl4jo4t01ivrpd28as</string>
	<key>API_KEY</key>
	<string>AIzaSyDqhV1yHSF40dir1GPNgYvn8zRlgEyBOU0</string>
	<key>GCM_SENDER_ID</key>
	<string>428763057412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CHIACHUNLI.MovieRecord</string>
	<key>PROJECT_ID</key>
	<string>movierecord-2120d</string>
	<key>STORAGE_BUCKET</key>
	<string>movierecord-2120d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428763057412:ios:0cc86eca2b5c80f0d95451</string>
	<key>DATABASE_URL</key>
	<string>https://movierecord-2120d.firebaseio.com</string>
</dict>
</plist>